@charset "utf-8";

/* font-family: 'Abel', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

/* font-family: 'YUniverse'; 300, 700*/
@import url("https://webfontworld.github.io/kt/YUniverse.css");

/* font-family: 'Reem Kufi', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

/* Original Regular */
@font-face {
  font-family: "original_regular";
  src: url("https://ysseo0411.github.io/portfolio/src/fonts/Original/original-regular-webfont.eot")
      format("eot"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Original/original-regular-webfont.woff2")
      format("woff2"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Original/original-regular-webfont.woff")
      format("woff"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Original/original-regular-webfont.otf")
      format("otf"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Original/original-regular-webfont.ttf")
      format("ttf");
}

/* Original Black */
@font-face {
  font-family: "original_black";
  src: url("https://ysseo0411.github.io/portfolio/src/fonts/Original/original-black-webfont.eot")
      format("eot"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Original/original-black-webfont.woff2")
      format("woff2"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Original/original-black-webfont.woff")
      format("woff"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Original/original-black-webfont.otf")
      format("otf"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Original/original-black-webfont.ttf")
      format("ttf");
}

/* Monument Ultrabold */
@font-face {
  font-family: "monument_ultrabold";
  src: url("https://ysseo0411.github.io/portfolio/src/fonts/Monument/Monument-Extended-Ultrabold.eot")
      format("eot"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Monument/Monument-Extended-Ultrabold.woff2")
      format("woff2"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Monument/Monument-Extended-Ultrabold.otf")
      format("otf"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Monument/Monument-Extended-Ultrabold.ttf")
      format("ttf");
}

/* Santiago */
@font-face {
  font-family: "santiago";
  src: url("https://ysseo0411.github.io/portfolio/src/fonts/Santiago/santiago-webfont.eot")
      format("eot"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Santiago/santiago-webfont.woff2")
      format("woff2"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Santiago/santiago-webfont.woff")
      format("woff"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Santiago/santiago-webfont.otf")
      format("otf"),
    url("https://ysseo0411.github.io/portfolio/src/fonts/Santiago/santiago-webfont.ttf")
      format("ttf");
}
