@charset "utf-8";
@import "font.css";

/* layout */
body {
  background-color: #f8e8c8;
  transition: 0.3s ease-out;
}

#wrap {
  overflow-x: hidden;
}

.container_h {
  width: 95%;
  margin: 0 auto;
}

.container:not(#profile .container) {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  /* position: relative; */
}

/* background settings */
:root {
  /* --color: pink; */
  --blur-1-size: clamp(400px, 60vw, 60vw);
  --blur-2-size: clamp(700px, 40vw, 40vw);
  --blur-3-size: clamp(100px, 10vw, 10vw);
  --blur-amount: clamp(40px, 5vw, 90px);
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.blur {
  position: absolute;
  border-radius: 700vw;
  filter: blur(var(--blur-amount));
}

.blur:nth-child(1) {
  height: var(--blur-1-size);
  width: calc(var(--blur-1-size) * 1.4);
  background: rgb(219, 235, 237);
  z-index: -1;
}

.blur:nth-child(2) {
  height: var(--blur-2-size);
  width: calc(var(--blur-2-size) * 2);
  background: rgba(239, 206, 209, 0.9);
  z-index: -1;
}

.blur:nth-child(3) {
  /* filter: blur(var(--blur-amount)) hue-rotate(-135deg); */
  height: var(--blur-2-size);
  width: calc(var(--blur-2-size) * 0.55);
  background: rgba(239, 255, 222, 0.7);
  z-index: -1;
}

/* header */
#header {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-family: "Abel";
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1.2px);
  backdrop-filter: blur(1.2px);
  border-bottom: 0.2rem solid #000;
  z-index: 10;
}

#header .contents h1 {
  float: left;
  line-height: 60px;
  font-size: 20px;
}

#header .nav ul {
  float: right;
}

#header .nav ul li {
  font-size: 17px;
  float: left;
  margin-right: 2.5vw;
  line-height: 60px;
}

#header .nav ul li a {
  color: #d00000;
}

#header ul li:last-child {
  margin-right: 0;
}

/* mainview */
#mainview .contents {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  position: relative;
}

#mainview .left {
  width: 54%;
  display: flex;
  align-items: center;
}

#mainview .left .text {
  width: 100%;
  font-family: "Santiago";
  line-height: 1.1;
}

#mainview .left .text h2 {
  position: relative;
  font-size: 13vh;
}

#mainview .left .text h2::before {
  content: "";
  display: block;
  width: 240px;
  position: absolute;
  top: 6vh;
  left: 35vh;
  border: 0.1rem solid #000;
}

#mainview .left .text strong {
  font-size: 8vh;
  font-style: normal;
  white-space: nowrap;
}

#mainview .left p {
  font-family: "YUniverse";
  font-size: 2vh;
  line-height: 1.8;
  text-align: justify;
  padding-bottom: 2vw;
  padding-top: 1.8vw;
}

#mainview .left a {
  width: 13vw;
  height: 3vw;
  display: block;
  color: #fff;
  padding: 0 2vw;
  line-height: 3vw;
  font-size: 1.1vw;
  font-family: "abel";
  background-color: #000;
  box-sizing: border-box;
}

#mainview .right {
  width: 40%;
  height: 65%;
  display: flex;
  justify-content: center;
  position: relative;
}

#mainview .right .main_img {
  left: 58.9vw;
  top: 140px;
  width: 42vh;
  height: 65vh;
  border: 0.2rem solid #000;
  border-radius: 30vw 30vw 0 0;
  background: url("../src/img/mainview011.jpg") no-repeat center center / cover;
}

#mainview .line {
  position: absolute;
  left: 78%;
  width: 0.2rem;
  height: 30vh;
  background: #000;
  top: 59px;
  z-index: -1;
}

#mainview .contents .left span {
  position: absolute;
  left: 40%;
  top: 70%;
  z-index: 10;
}

#mainview .contents span:nth-child(1) {
  position: absolute;
  left: 92%;
  top: 16%;
}

#mainview .contents span:nth-child(2) {
  position: absolute;
  left: 97%;
  top: 33%;
}
#mainview .contents .scrolldown svg {
  height: 58%;
  font-size: 32px;
  font-family: "Reem Kufi";
  font-weight: 400;
  text-transform: uppercase;
  fill: #000;
  position: absolute;
  left: -19vh;
  top: 45vh;
  z-index: 10;
}

#mainview .contents .scrolldown span {
  height: 30%;
  font-size: 13vh;
  color: #d00000;
  position: absolute;
  left: -7vh;
  top: 58vh;
  z-index: 10;
}

/* about label menu */
#about_marquee {
  position: relative;
  width: 100%;
  height: 8vw;
  overflow: hidden;
  border: 0.2rem solid #000;
}

#about_marquee .box {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
}

#about_marquee .content > p {
  font-size: 6vw;
  line-height: 7.2vw;
  text-align: center;
  font-family: "monument_ultrabold";
}

#about_marquee .content > p span {
  margin-right: 4.2vw;
  margin-left: 4.2vw;
  color: #fff;
  -webkit-text-stroke: 0.2rem #000;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* profile horizontal scroll */
#profile {
  display: flex;
}

#profile .container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.pin-wrap {
  display: flex;
  flex-shrink: 0;
}

/* about */
#about {
  display: flex;
}

#about .contents {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#about .contents .left {
  position: relative;
  width: 50%;
}

#about .contents .left .img-circle {
  display: block;
  width: 36vw;
  height: 36vw;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  background-color: #fad7d7;
}

#about .contents .left .img-circle::after {
  display: block;
  content: "";
  width: 36vw;
  height: 36vw;
  margin: 1.2vw auto;
  border-radius: 50%;
  border: 0.15rem solid #000;
  position: absolute;
  left: 1.5vw;
  top: -2.5vw;
  z-index: -1;
}

#about .contents .img-deco {
  font-family: "original_regular";
  font-size: 3.6vw;
  text-align: center;
  line-height: 1.15;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 0.1vw #000;
  width: 35vw;
  height: 100%;
  padding-top: 12vw;
  position: absolute;
  top: -5.2vw;
}

#about .contents .img-deco strong {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 0.1vw rgba(0, 0, 0, 0);
}

#about .contents .img-deco em {
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
  -webkit-text-stroke: 0.1vw rgba(0, 0, 0, 0);
}

#about .contents .left img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  position: absolute;
  top: -9.5vw;
  left: 0;
  z-index: 1000;
}

#about .img-circle span:nth-of-type(1) {
  position: absolute;
  left: 32vw;
  top: -8vh;
  z-index: -1;
}

#about .img-circle span:nth-of-type(2) {
  position: absolute;
  left: -6vw;
  top: 18.5vw;
  z-index: -1;
}

#about .contents .right {
  position: relative;
  width: 50%;
  padding: 0 7vw;
}

#about .contents .right h2 {
  font-family: "original_regular";
  letter-spacing: 0.2rem;
  font-size: 3.6vw;
  white-space: nowrap;
}

#about .contents .right > p {
  width: 100%;
  font-family: "YUniverse";
  font-weight: 300;
  margin-top: 2vw;
}

#about .contents .right p span {
  color: #d00000;
}

#about .right p[class="intro"] {
  font-weight: 700;
  font-size: 1.7vw;
  line-height: 1.5;
  margin-bottom: 2.2vw;
}

#about .right p[class="desc"] {
  font-style: normal;
  font-weight: 300;
  margin-top: 2.4vw;
  font-size: 1.2vw;
  line-height: 1.6;
  text-align: justify;
  margin: 1.4vw 0;
}

/* about - skills */
#skills {
  position: relative;
  /* background-color: #fc0; */
}

#skills .contents {
  width: 100%;
  position: relative;
  height: 40vw;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #000;
}

#skills h2 {
  position: absolute;
  left: 40%;
  font-family: "original_regular";
  letter-spacing: 0.2rem;
  font-size: 3.8vw;
  z-index: 10;
}

#skills .contents > div {
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#skills .box {
  width: 75vw;
  height: 22.5vw;
  border-radius: 35vw 35vw;
  border: 0.15rem solid #000;
  position: relative;
  background-color: #fff;
}

#skills .box::after {
  content: "";
  display: block;
  width: 70.5vw;
  height: 18.5vw;
  border-radius: 35vw 35vw;
  position: absolute;
  top: 1.9vw;
  left: 1.9vw;
  background-color: rgb(239, 239, 239);
}

#skills .img-box {
  width: 95%;
  height: auto;
  position: relative;
  top: 3.6vw;
  left: 8vw;
  z-index: 10;
}

#skills .img-box img {
  position: relative;
  width: 6vw;
  margin-right: 1.5vw;
}

#skills .img-box img:nth-child(3) {
  width: 13.5vw;
  position: relative;
  top: -1.5vw;
}

#skills .img-box img:nth-child(7) {
  width: 6.1vw;
  position: relative;
  top: 0.6vw !important;
  margin-right: 6vw;
}

#skills .img-box img:nth-child(8) {
  width: 5.5vw;
  position: relative;
  top: 0.3vw;
}

#skills .img-box img:nth-child(4),
#skills .img-box img:nth-child(5),
#skills .img-box img:nth-child(6) {
  width: 5.5vw;
  position: relative;
  top: 0.2vw;
}

#skills .img-box img:nth-child(7),
#skills .img-box img:nth-child(8),
#skills .img-box img:nth-child(9),
#skills .img-box img:nth-child(10) {
  position: relative;
  top: 1vw;
}

#skills .contents span:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
}

#skills .line:nth-of-type(1) {
  position: relative;
  left: 0;
  top: 60px;
  width: 100px;
  height: 150px;
}

#skills .contents span:nth-of-type(1) {
  width: 0.2rem;
  height: 13vh;
  position: absolute;
  left: 0;
}

#skills .contents span:nth-of-type(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}

#skills .line:nth-of-type(2) {
  width: 0.2rem;
  height: 13vh;
  position: absolute;
  right: 42px;
  bottom: 0;
  background-color: #000;
}

/* about - level of education */
#edu {
  display: flex;
}

#edu .contents {
  display: flex;
  width: 100%;
  height: 38vw;
  justify-content: space-between;
  padding: 0 3vw;
}

#edu .contents .left {
  position: relative;
  width: 50%;
}

#edu .left span:nth-of-type(1) {
  position: absolute;
  top: 13%;
  left: 0;
  display: none;
}
#edu .left h2 {
  display: inline-block;
  font-family: "original_regular";
  font-size: 3.8vw;
  letter-spacing: 0.2rem;
  margin-bottom: 4vw;
  position: relative;
}

#edu .left p {
  font-family: "YUniverse";
  font-size: 1.6vw;
  font-weight: 300;
  margin-bottom: 3vw;
}

#edu .left strong {
  font-family: "original_regular";
  font-weight: 400;
  font-size: 2vw;
}

#edu .contents .right {
  width: 50%;
  height: 38vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#edu .right img {
  height: 100%;
  object-fit: contain;
  border-radius: 415px 415px;
  border: 0.25rem solid #000;
}

#edu .right span:nth-of-type(1) {
  position: absolute;
  right: 39vw;
  bottom: 2vw;
}
#edu .right span:nth-of-type(2) {
  position: absolute;
  right: 9%;
  top: 0;
}
#edu .right span:nth-of-type(3) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

/* work_marquee */
#work_marquee .box {
  width: 110vw;
  margin-bottom: -5vw;
  margin-top: 4vw;
  margin-left: -2vw;
  display: flex;
}

#work_marquee .box:nth-child(1) {
  transform: rotate(-5deg);
  background-color: #000;
  border: 0.15rem solid #000;
  color: #fff;
  text-shadow: 3px 2px 0 #d00000;
}

#work_marquee .box:nth-child(2) {
  transform: rotate(9deg);
  background-color: #fff;
  margin-top: -5vw;
  border: 0.15rem solid #000;
  justify-content: flex-end;
  z-index: 1;
  color: #f9e8e2;
  text-shadow: 3px 2px 0 #d00000;
}

#work_marquee p {
  font-family: "original_black";
  font-weight: bold;
  display: flex;
  padding: 0.3vh 0;
  font-size: clamp(3vw, 5vw, 7vw);
  -webkit-text-stroke: 0.1vw rgba(0, 0, 0, 1);
}

/* work - web */
#work {
  position: relative;
  width: 100%;
  margin-top: 26vw;
}

#work .container {
  max-width: 1400px;
}

#work .contents {
  padding: 0 3vw;
  margin-bottom: 15vh;
}

#work .web .work-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15vw;
  position: relative;
}

#work .web .work-item:nth-child(2) {
  flex-flow: row-reverse;
}

#work .web .work-item .img-box {
  width: 50%;
  position: relative;
  margin-right: 5vw;
}

#work .web .work-item:nth-child(2) .img-box {
  flex-flow: row-reverse;
  margin-right: 0;
  margin-left: 5vw;
}

#work .web .work-item img {
  width: 100%;
  height: auto;
}

#work .web .work-item .text {
  width: 60%;
  letter-spacing: 0.2rem;
}

#work .web .work-item .text h2 {
  font-size: 72px;
  font-family: "original_regular";
  color: #d00000;
  text-shadow: 2px 1px 0 rgb(191, 191, 191);
  white-space: nowrap;
  margin-bottom: 10px;
}

#work .web .work-item:nth-child(2) h2 {
  color: #fcca56;
  font-size: 68px;
}

#work .web .work-item:nth-child(3) h2 {
  color: #99c6a8;
  font-size: 75px;
}

#work .web .work-item .text strong {
  font-family: "YUniverse";
  font-size: 35px;
  margin-top: 6px;
}

#work .web .work-item .text em {
  font-family: "original_black";
  font-size: 190px;
  z-index: -1;
  position: absolute;
  top: -130px;
  right: 30px;
  font-style: normal;
}

#work .web .work-item .text .em1 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.1vw rgba(208, 0, 0, 0.3);
}

#work .web .work-item .text .em2 {
  left: 0;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.1vw rgba(255, 209, 103);
}

#work .web .work-item .text .em3 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.1vw rgb(165, 195, 175);
}

#work .web .work-item .text p {
  /* width: 98%; */
  font-family: "YUniverse";
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  position: relative;
  margin-top: 2vw;
}

#work .web .work-item .btn {
  display: inline-block;
  font-family: "Abel";
  width: 169px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0 17px;
  color: #000;
  border: 0.1rem solid #000;
  margin-top: 30px;
}

#work .web .work-item .btn1,
#work .web .work-item .btn2 {
  background-color: #eeb1b1;
}

#work .web .work-item .btn3,
#work .web .work-item .btn4 {
  background-color: #fcca56;
}

#work .web .work-item .btn5,
#work .web .work-item .btn6 {
  background-color: #99c6a8;
}

#work .web .work-item i {
  line-height: 50px;
  font-size: 18px;
  padding-left: 22px;
}

/* work - script */
#work .script .title {
  width: 780px;
  height: 213px;
  margin: 0 auto;
  position: relative;
  font-family: "original-regular";
  margin-bottom: 30vh;
}

#work .script .title > span {
  position: absolute;
  left: 49px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.1vw rgba(0, 0, 0, 1);
  font-size: 130px;
}

#work .script .title em {
  position: absolute;
  top: 112px;
  right: 65px;
  color: #000;
  font-size: 120px;
  text-shadow: 2px 3px 0 #fff;
  /* font-style: normal; */
}

#work .script .title span:nth-of-type(2) {
  position: absolute;
  left: 48%;
  top: -20%;
}

#work .script .title span:nth-of-type(3) {
  width: 150px;
  position: absolute;
  left: 669px;
  top: 177px;
}

#work .script .contents {
  position: relative;
  padding: 0 3vw;
  display: flex;
  flex-wrap: wrap;
}

#work .script .box {
  position: relative;
  display: flex;
  flex: 0 0 530px;
  width: 230px;
  height: 1122px;
  margin: 0 auto;
  margin-bottom: 150px;
}
#work .script .box .text {
  width: 100%;
  height: 200px;
}
#work .script .box .text h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "original_regular";
  font-size: 74px;
  color: #d80913;
  /* -webkit-text-stroke: 0.1px rgba(0, 0, 0, 1); */
  text-shadow: 2px 3px 0 #000;
}

#work .script .box .text p {
  width: 85%;
  font-family: "YUniverse";
  font-size: 17px;
  line-height: 1.8;
  text-align: justify;
  margin: 0 auto;
}

#work .script .contents .box .top-box {
  width: 497px;
  height: 856px;
  position: absolute;
  top: 229px;
  z-index: 2;
  border: 0.2rem solid #000;
  border-radius: 29px;
  background-color: #f9e8e2;
}

#work .script .box .top-box .script-cont {
  margin-top: 25px !important;
  width: 90%;
  height: 734px;
  margin: 0 auto;
  /* border: 2px solid #000; */
  border-radius: 32px 32px;
}

#work .script .box .top-box .musicplayer {
  width: 100%;
  height: 100%;
  border-radius: 32px 32px;
}

#work .script .contents .box .top-box img {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#work .script .contents .box .top-box a {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  font-family: "Abel";
  width: 90%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  /* padding: 0 17px; */
  color: #000;
  border: 1px solid #000;
  border-radius: 32px 32px;
  margin-top: 15px;
}

#work .script .contents .box .middle-box {
  position: absolute;
  right: 15px;
  bottom: 16px;
  z-index: 1;
  width: 485px;
  height: 840px;
  border: 0.2rem solid #000;
  border-radius: 29px;
  background-color: #fff;
}
#work .script .contents .box .bottom-box {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 485px;
  height: 810px;
  border: 0.2rem solid #000;
  border-radius: 29px;
  background-color: #fff;
  box-shadow: 7px 7px 0 0 #0d0d0d;
}

/* css animation */
#work .css-ani {
  position: relative;
}

#work .css-ani .contents {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10vh;
}
#work .css-ani .title {
  width: 780px;
  height: 213px;
  margin: 0 auto;
  position: relative;
  font-family: "original-regular";
  margin-bottom: 30vh;
}

#work .css-ani .title em {
  position: absolute;
  top: 112px;
  right: 65px;
  color: #000;
  font-size: 120px;
  text-shadow: 2px 3px 0 #fff;
  /* font-style: normal; */
}

#work .css-ani .title span:nth-of-type(1) {
  position: absolute;
  left: 49px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.1vw rgba(0, 0, 0, 1);
  font-size: 130px;
}

#work .css-ani .title span:nth-of-type(2) {
  width: 150px;
  position: absolute;
  left: -36px;
  top: -51px;
}

#work .css-ani .title span:nth-of-type(3) {
  width: 150px;
  position: absolute;
  left: 470px;
  top: 209px;
}

#work .css-ani .title span:nth-of-type(4) {
  width: 150px;
  position: absolute;
  right: -5%;
  top: 77px;
}

#work .css-ani .title span:nth-of-type(5) {
  width: 150px;
  position: absolute;
  right: -9%;
  top: 138px;
}

#work .css-ani .contents .box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  margin-bottom: 10vh;
}

#work .css-ani .contents .left {
  width: 50%;
  margin: 0 auto;
}

#work .css-ani .contents .left .img-box {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

#work .css-ani .contents .left .img-box::after {
  display: block;
  content: "";
  width: 334px;
  height: 334px;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: -6%;
  left: -6%;
}

#work .css-ani .contents .left img {
  position: absolute;
  left: 50%;
  top: 50%;
}

#work .css-ani .contents .right {
  width: 50%;
  line-height: 1.1;
}

#work .css-ani .contents .box:nth-child(3),
#work .css-ani .contents .box:nth-child(5) {
  flex-direction: row-reverse;
}

#work .css-ani .contents .box .right:nth-of-type(odd) h2 {
  text-align: right;
  border: 1px solid #000;
}

#work .css-ani .contents .right h2 {
  font-family: "original_regular";
  font-size: 65px;
  color: #d80913;
  /* -webkit-text-stroke: 0.1px rgba(0, 0, 0, 1); */
  text-shadow: 2px 3px 0 #000;
  margin-bottom: 5px;
}

#work .css-ani .contents .right p {
  width: 58%;
  font-family: "YUniverse";
  font-size: 17px;
  line-height: 1.8;
  text-align: justify;
}

#work .css-ani .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 95%;
  background: #000;
}

/* footer */
#footer .container {
  position: relative;
  width: 100%;
  height: 90vh;
}

#footer .title {
  width: 100%;
  height: 150px;
  text-align: center;
  color: #b4b4b4;
  margin-bottom: 70px;
}

#footer .contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3vw;
}

#footer .contents span:nth-child(1) {
  position: absolute;
  top: -24%;
  right: 16%;
}

#footer .contents span:nth-child(2) {
  position: absolute;
  top: 43%;
  left: 27%;
}

#footer .contents span:nth-child(3) {
  position: absolute;
  top: 101%;
  right: 16%;
}

#footer .title > span {
  font-family: "original_regular";
  font-size: 120px;
  text-shadow: 2px 3px 0 #000;
}

#footer .left {
  width: 50%;
  padding-left: 10px;
  position: relative;
}

#footer .left h2 {
  font-family: "original_regular";
  font-size: 70px;
  text-align: center;
  line-height: 1.1;
  color: #d80913;
  text-shadow: 2px 3px 0 #fff;
}

#footer .left i {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-right: 12px;
  color: rgb(163, 163, 163);
}

#footer .left p {
  font-size: 20px;
  font-weight: 700;
  font-family: "YUniverse";
  padding-left: 130px;
}

#footer .right {
  width: 50%;
  position: relative;
}

#footer .right form {
  padding: 5px;
}

#footer .right form input {
  border: none;
  outline: none;
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2%;
  padding: 1% 2vw;
  height: 3.5vw;
  font-size: 1.1vw;
  font-family: "YUniverse";
  font-weight: 900;
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #000;
}

#footer .right form .message textarea {
  border: none;
  outline: none;
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1vw 2vw;
  height: 215px;
  font-size: 1.1vw;
  font-family: "YUniverse";
  font-weight: 900;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #000;
}

#footer .right form .btn {
  display: inline-block;
  padding: 0.9vw 3vw;
  margin-left: 28px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #000;
  color: #fff;
  font-family: "YUniverse";
  font-weight: 900;
  cursor: pointer;
}

/* 미디어 쿼리 */
@media (max-width: 1100px) {
  #mainview .contents {
    padding: 0 2vw;
  }
  #mainview .left {
    width: 50%;
  }

  #mainview .left .text h2 {
    font-size: 100px;
  }
  #mainview .left .text h2::before {
    left: 280px;
    top: 50%;
    width: 200px;
  }

  #mainview .left .text strong {
    font-size: 65px;
  }

  #mainview .left p {
    width: 97%;
    font-size: 15px;
  }

  #mainview .contents .left div span {
    left: 38%;
  }

  #mainview .right {
    width: 50%;
  }

  #mainview .right .main_img {
    width: 38vh;
  }

  #mainview .contents .line {
    left: 74%;
  }

  #mainview .contents .scrolldown svg {
    height: 48%;
    top: 48vh;
    left: -16vh;
  }

  #mainview .contents .right .scrolldown span {
    height: 10%;
    right: 15%;
  }

  #mainview .contents span:nth-child(1) {
    left: 87%;
  }

  #mainview .contents span:nth-of-type(2) {
    left: 92%;
    top: 28%;
  }
}

@media (max-width: 954px) {
  .container_h {
    width: 90%;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }

  #header .contents {
    display: block;
  }

  #header .contents h1 {
    float: initial;
    text-align: center;
  }
  #header .nav ul {
    display: none;
  }

  #mainview .contents {
    flex-direction: column-reverse;
    top: 60px;
  }

  #mainview .left {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 800px;
  }

  #mainview .left .text h2::before {
    display: none;
  }

  #mainview .left .text h2 {
    font-size: 21vw;
  }

  #mainview .left .text strong {
    font-size: 8vw;
  }

  #mainview .left .text p {
    width: 60%;
    font-size: 2.9vw;
    margin: 0 auto;
    margin-top: 3vw;
    margin-bottom: 23vw;
  }

  #mainview .right {
    position: fixed;
    top: 50px;
    width: 80%;
    height: 700px;
  }

  #mainview .right .main_img {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    border-radius: 50vw 50vw 0 0;
  }

  #mainview .line {
    width: 0.2rem;
    height: 50vh;
    background: #000;
    left: 50% !important;
    top: 0;
  }

  #mainview .left a {
    position: relative;
    width: 62%;
    height: 5.5vw;
    display: block;
    color: #fff;
    background-color: #000;
    padding: 0 2vw;
    line-height: 5.5vw;
    font-size: 2vw;
    font-family: "abel";
    box-sizing: border-box;
    margin: 0 auto;
  }

  #mainview .contents .left div span {
    top: -650px;
    left: 6%;
    z-index: 1;
  }

  #mainview .contents span:nth-child(1) {
    top: 10%;
    left: 82%;
    z-index: 1;
  }

  #mainview .contents span:nth-child(2) {
    top: 20%;
    left: 89%;
    z-index: 1;
  }

  #mainview .contents .scrolldown svg {
    display: none;
  }

  #mainview .contents .scrolldown span {
    display: none;
  }

  #about_marquee {
    width: 100%;
    top: 100vw;
    height: 14vw;
  }

  #about_marquee .content > p {
    font-size: 9vw;
    line-height: 13.6vw;
  }

  #profile,
  #work,
  #work_marquee,
  #contact {
    display: none;
  }
}
