@charset "utf-8";
@import "font.css";

/* progress */
.progress {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 228, 223);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 100000;
}

.loader-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.progress-text {
  font-family: "Abel";
  display: flex;
  position: absolute;
  font-size: 30px;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  top: 42%;
}

.loader {
  display: flex;
  width: 300px;
  height: 4px;
  background: #fff;
  overflow: hidden;
  z-index: 1000000;
}

.loader-line {
  height: 5px;
  background: linear-gradient(
    to right,
    rgb(255, 203, 203) 0,
    rgb(203, 246, 242) 100%
  );
}
.a-loop {
  animation: 1.7s infinite loop cubic-bezier(0.42, 0, 0.58, 1);
}
@keyframes loop {
  0% {
    width: 0%;
    transform: translateX(0%);
  }
  7% {
    width: 10%;
    transform: translateX(0%);
  }
  40% {
    width: 40%;
  }
  50% {
    transform: translateX(85%);
  }

  75% {
    width: 100%;
  }
  100% {
    transform: translateX(100%);
  }
}

/* mouse cursor */
#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  /* mix-blend-mode: difference; */
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    background-color: rgba(255, 172, 172, 0.3);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }
}

/* c-scrollbar */
.c-scrollbar {
  width: 8.5px;
  background: rgb(215, 215, 215);
}

.c-scrollbar_thumb {
  background-color: #fdb1b1;
}

/* layout */
body {
  background-color: #f8e8c8;
  transition: 0.3s ease-out;
}

#wrap {
  overflow: hidden;
}
.container_h {
  width: 95%;
  margin: 0 auto;
}

.container:not(#profile .container) {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  /* position: relative; */
}

/* background settings */
:root {
  /* --color: pink; */
  --blur-1-size: clamp(400px, 60vw, 60vw);
  --blur-2-size: clamp(700px, 40vw, 40vw);
  --blur-3-size: clamp(100px, 10vw, 10vw);
  --blur-amount: clamp(40px, 5vw, 90px);
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.blur {
  position: absolute;
  border-radius: 700vw;
  filter: blur(var(--blur-amount));
}

.blur:nth-child(1) {
  height: var(--blur-1-size);
  width: calc(var(--blur-1-size) * 1.4);
  background: rgb(219, 235, 237);
  z-index: -1;
}

.blur:nth-child(2) {
  height: var(--blur-2-size);
  width: calc(var(--blur-2-size) * 2);
  background: rgba(239, 206, 209, 0.9);
  z-index: -1;
}

.blur:nth-child(3) {
  /* filter: blur(var(--blur-amount)) hue-rotate(-135deg); */
  height: var(--blur-2-size);
  width: calc(var(--blur-2-size) * 0.55);
  background: rgba(239, 255, 222, 0.7);
  z-index: -1;
}

/* header */
#header {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-family: "Abel";
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1.2px);
  backdrop-filter: blur(1.2px);
  border-bottom: 0.2rem solid #000;
  z-index: 10;
  opacity: 0;
}

#header .contents h1 {
  float: left;
  line-height: 60px;
  font-size: 20px;
  cursor: pointer;
}

#header .nav ul {
  float: right;
}

#header .nav ul li {
  font-size: 17px;
  float: left;
  margin-right: 2.5vw;
  line-height: 60px;
  color: #d00000;
  cursor: pointer;
}

#header ul li:last-child {
  margin-right: 0;
}

/* mainview */
#mainview .contents {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  position: relative;
}

#mainview .blink:nth-of-type(1) {
  -webkit-animation: blink 0.5s ease-in infinite alternate-reverse;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#mainview .blink:nth-of-type(2) {
  -webkit-animation: blink 0.52s ease-in infinite alternate-reverse;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#mainview .left {
  width: 54%;
  display: flex;
  align-items: center;
}

#mainview .left .text {
  width: 100%;
  font-family: "Santiago";
  line-height: 1.1;
}

#mainview .left h2 {
  position: relative;
  animation: balloon 5s infinite;
}

#mainview .left p {
  /* animation: balloon 5s infinite; */
}

@keyframes balloon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

#mainview .left h2 em {
  white-space: nowrap;
  display: block;
  font-style: normal;
}

#mainview .left h2 span {
  opacity: 0;
}
#mainview .left p span {
  opacity: 0;
}

#mainview .left h2 .splice:first-child {
  font-size: 13vh;
}

#mainview .left h2 .splice:last-child {
  font-size: 8vh;
  font-style: normal;
  white-space: nowrap;
}

/* #mainview .left h2 span {
  opacity: 0;
  display: inline-block;
} */

/* #mainview .left .text h2::before {
  content: "";
  display: block;
  width: 240px;
  position: absolute;
  top: 6vh;
  left: 35vh;
  border: 0.1rem solid #000;
} */

#mainview .left p em {
  display: block;
  font-family: "YUniverse";
  font-size: 2vh;
  line-height: 1.8;
  text-align: justify;
  padding-bottom: 1vw;
  padding-top: 1.8vw;
  letter-spacing: -0.2px;
  font-style: normal;
}

#mainview .left a {
  display: inline-block;
  color: #fff;
  padding: 0 2.8vw;
  line-height: 3vw;
  font-size: 1.1vw;
  font-family: "abel";
  background-color: #000;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.3s;
}

#mainview .left a:hover {
  color: #000;
  background-color: #fff;
}

#mainview .right {
  width: 37%;
  height: 65%;
  display: flex;
  justify-content: center;
  position: relative;
}

#mainview .right .main_img {
  left: 58.9vw;
  top: 140px;
  width: 42vh;
  height: 65vh;
  border: 0.2rem solid #000;
  border-radius: 30vw 30vw 0 0;
  background: url("../src/img/mainview011.jpg") no-repeat center center / cover;
  opacity: 0;
}

#mainview .right .swing {
  animation: swing ease-in-out 1.8s infinite alternate;
  transform-origin: center -20px;
}

@keyframes swing {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

#mainview .line {
  position: absolute;
  left: 79%;
  width: 0.2rem;
  height: 30vh;
  background: #000;
  top: 59px;
  z-index: -1;
  opacity: 0;
}

#mainview .contents .left .planet {
  position: absolute;
  left: 40%;
  top: 70%;
  z-index: 10;
  opacity: 0;
  animation: balloon 4.5s infinite;
}

#mainview .contents .blink:nth-child(1) {
  position: absolute;
  left: 94%;
  top: 16%;
}

#mainview .contents .blink:nth-child(2) {
  position: absolute;
  left: 99%;
  top: 33%;
}

#mainview .contents .scrolldown {
  opacity: 0;
}

#mainview .contents .scrolldown svg {
  height: 58%;
  font-size: 32px;
  font-family: "Reem Kufi";
  font-weight: 400;
  text-transform: uppercase;
  fill: #000;
  position: absolute;
  left: 23vh;
  top: 45vh;
  z-index: 10;
}

#mainview .contents .scrolldown span {
  height: 30%;
  font-size: 13vh;
  color: #d00000;
  position: absolute;
  left: 35vh;
  top: 58vh;
  z-index: 10;
}

/* about label menu */
#about_marquee {
  position: relative;
  width: 100%;
  height: 8vw;
  overflow: hidden;
  border: 0.2rem solid #000;
}

#about_marquee .box {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
}

#about_marquee .content > p {
  font-size: 6vw;
  line-height: 7.2vw;
  text-align: center;
  font-family: "monument_ultrabold";
}

#about_marquee .content > p span {
  margin-right: 4.2vw;
  margin-left: 4.2vw;
  color: #fff;
  -webkit-text-stroke: 0.2rem #000;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* profile horizontal scroll */
#profile {
  display: flex;
}

#profile .container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.pin-wrap {
  display: flex;
  flex-shrink: 0;
}

/* about */
#about {
  display: flex;
}

#about .contents {
  display: flex;
  width: 100%;
  padding: 0 2vw;
  justify-content: space-between;
}

#about .contents .left {
  position: relative;
  width: 50%;
}

#about .contents .left .img-circle {
  display: block;
  width: 36vw;
  height: 36vw;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  background-color: #fad7d7;
}

#about .contents .left .img-circle::after {
  display: block;
  content: "";
  width: 36vw;
  height: 36vw;
  margin: 1.2vw auto;
  border-radius: 50%;
  border: 0.15rem solid #000;
  position: absolute;
  left: 1.5vw;
  top: -2.5vw;
  /* z-index: -1; */
}

#about .contents .img-deco {
  font-family: "original_regular";
  font-size: 3.6vw;
  text-align: center;
  line-height: 1.15;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 0.1vw #000;
  width: 35vw;
  height: 100%;
  padding-top: 12vw;
  position: absolute;
  top: -5.2vw;
  left: 7vw;
  z-index: 10;
}

#about .contents .img-deco strong {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 0.1vw rgba(0, 0, 0, 0);
}

#about .contents .img-deco em {
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
  -webkit-text-stroke: 0.1vw rgba(0, 0, 0, 0);
}

#about .contents .left img {
  width: 100%;
  height: 80vh;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

#about .img-circle span:nth-of-type(1) {
  position: absolute;
  left: 32vw;
  top: -8vh;
  z-index: -1;
}

#about .img-circle span:nth-of-type(2) {
  position: absolute;
  left: -6vw;
  top: 18.5vw;
  z-index: -1;
}

#about .contents .right {
  position: relative;
  width: 50%;
  padding: 0 3vw;
}

#about .contents .right h2 {
  font-family: "original_regular";
  letter-spacing: 0.2rem;
  font-size: 3.4vw;
  white-space: nowrap;
}

#about .contents .right > p {
  width: 100%;
  font-family: "YUniverse";
  font-weight: 300;
  margin-top: 2vw;
  letter-spacing: -0.5px;
}

#about .contents .right p span {
  color: #d00000;
}

#about .right p[class="intro"] {
  font-weight: 700;
  font-size: 1.8vw;
  line-height: 1.5;
  margin-bottom: 2.2vw;
}

#about .right p[class="desc"] {
  font-style: normal;
  font-weight: 300;
  margin-top: 2.4vw;
  font-size: 1.2vw;
  line-height: 1.6;
  text-align: justify;
  margin: 1.4vw 0;
}

/* about - skills */
#skills {
  position: relative;
  /* background-color: #fc0; */
}

#skills .contents {
  width: 100%;
  position: relative;
  height: 40vw;
  background-color: rgba(255, 255, 255, 0);
}

#skills h2 {
  position: absolute;
  left: 40%;
  font-family: "original_regular";
  letter-spacing: 2px;
  font-size: 3.8vw;
  z-index: 10;
}

#skills .contents > div {
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#skills .box {
  width: 75vw;
  height: 22.5vw;
  border-radius: 35vw 35vw;
  border: 0.15rem solid #000;
  position: relative;
  background-color: #fff;
}

#skills .box::after {
  content: "";
  display: block;
  width: 70.5vw;
  height: 18.5vw;
  border-radius: 35vw 35vw;
  position: absolute;
  top: 1.9vw;
  left: 1.9vw;
  background-color: rgb(239, 239, 239);
}

#skills .img-box {
  width: 95%;
  height: auto;
  position: relative;
  top: 3.6vw;
  left: 8vw;
  z-index: 10;
}

#skills .img-box img {
  position: relative;
  width: 6vw;
  margin-right: 1.5vw;
}

#skills .img-box img:nth-child(3) {
  width: 13.5vw;
  position: relative;
  top: -1.5vw;
}

#skills .img-box img:nth-child(7) {
  width: 6.1vw;
  position: relative;
  top: 0.6vw !important;
  margin-right: 6vw;
}

#skills .img-box img:nth-child(8) {
  width: 5.5vw;
  position: relative;
  top: 0.3vw;
}

#skills .img-box img:nth-child(4),
#skills .img-box img:nth-child(5),
#skills .img-box img:nth-child(6) {
  width: 5.5vw;
  position: relative;
  top: 0.2vw;
}

#skills .img-box img:nth-child(7),
#skills .img-box img:nth-child(8),
#skills .img-box img:nth-child(9),
#skills .img-box img:nth-child(10) {
  position: relative;
  top: 1vw;
}

#skills .line:nth-of-type(1) {
  width: 2px;
  height: 13vh;
  position: absolute;
  left: 76px;
  top: 60px;
  background-color: #000;
}

#skills .contents span:nth-of-type(1) {
  position: absolute;
  left: 34px;
}

#skills .line:nth-of-type(2) {
  width: 2px;
  height: 13vh;
  position: absolute;
  right: 42px;
  bottom: 0;
  background-color: #000;
}

#skills .contents span:nth-of-type(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* about - level of education */
#edu {
  display: flex;
}

#edu .contents {
  display: flex;
  width: 100%;
  height: 40vw;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
}

#edu .contents .left {
  position: relative;
  height: 40vw;
}

#edu .left span:nth-of-type(1) {
  position: absolute;
  top: -13%;
  left: -86px;
}
#edu .left h2 {
  display: inline-block;
  font-family: "original_regular";
  font-size: 3.8vw;
  letter-spacing: 2px;
  margin-bottom: 4vw;
  position: relative;
}

#edu .left p {
  width: 70%;
  font-family: "YUniverse";
  font-size: 1.3vw;
  font-weight: 300;
  margin-bottom: 2vw;
  letter-spacing: -0.2px;
  padding: 1vw 0;
}

#edu .left strong {
  font-family: "original_regular";
  font-weight: 400;
  font-size: 2vw;
}

#edu .contents .right {
  width: 40%;
  height: 40vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#edu .right img {
  height: 100%;
  object-fit: contain;
  border-radius: 415px 415px;
  border: 2px solid #000;
}

#edu .right span:nth-of-type(1) {
  position: absolute;
  right: 39vw;
  bottom: 2vw;
}
#edu .right span:nth-of-type(2) {
  position: absolute;
  right: -5%;
  top: 0;
}
#edu .right span:nth-of-type(3) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

/* work_marquee */
#work_marquee .box {
  width: 110vw;
  margin-bottom: -5vw;
  margin-top: 4vw;
  margin-left: -2vw;
  display: flex;
}

#work_marquee .box:nth-child(1) {
  transform: rotate(-5deg);
  background-color: #000;
  border: 0.15rem solid #000;
  color: #fff;
  text-shadow: 3px 2px 0 #d00000;
}

#work_marquee .box:nth-child(2) {
  transform: rotate(9deg);
  background-color: #fff;
  margin-top: -5vw;
  border: 0.15rem solid #000;
  justify-content: flex-end;
  z-index: 1;
  color: #f9e8e2;
  text-shadow: 3px 2px 0 #d00000;
}

#work_marquee p {
  font-family: "original_black";
  font-weight: bold;
  display: flex;
  padding: 0.3vh 0;
  font-size: clamp(3vw, 5vw, 7vw);
  -webkit-text-stroke: 0.1vw rgba(0, 0, 0, 1);
}

/* work - web */
#work {
  position: relative;
  width: 100%;
  margin-top: 26vw;
}

#work .container {
  max-width: 1400px !important;
}

#work .contents {
  padding: 0 3vw;
  margin-bottom: 19vh;
}

#work .web .work-item {
  width: 100%;
  display: flex;
  margin-bottom: 15vw;
  position: relative;
}

#work .web .work-item:nth-child(2) {
  flex-flow: row-reverse;
}

#work .web .work-item .img-box {
  width: 50%;
  position: relative;
  margin-right: 54px;
}

#work .web .work-item:nth-child(even) {
  flex-flow: row-reverse;
  margin-right: 0;
}

#work .web .work-item img {
  width: 100%;
}

#work .web .work-item .text {
  position: relative;
  width: 46%;
  height: 100%;
  /* height: 45vh; */
  letter-spacing: 0.2rem;
}

#work .web .work-item:nth-child(even) .text {
  margin-right: 4vw;
}

#work .web .work-item:nth-child(even) .img-box {
  margin-right: 0;
}

#work .web .work-item:nth-child(odd) .text {
  margin-right: 0;
}

#work .web .work-item .text h2 {
  font-size: 4.8vw;
  font-family: "original_regular";
  white-space: nowrap;
}

#work .web .work-item:nth-child(1) h2 {
  font-size: 4.6vw;
  color: #d00000;
}

#work .web .work-item:nth-child(2) h2 {
  color: #f7b824;
}

#work .web .work-item:nth-child(3) h2 {
  color: #7fab8d;
}

#work .web .work-item:nth-child(4) h2 {
  color: #7e95ae;
}

#work .web .work-item:nth-child(5) h2 {
  color: #827fab;
}

#work .web .work-item:nth-child(6) h2 {
  color: #777777;
}

#work .web .work-item .text strong {
  font-family: "YUniverse";
  font-size: 35px;
  letter-spacing: -0.7px;
  margin-top: 6px;
}

#work .web .work-item .text em {
  font-family: "original_black";
  font-size: 16vw;
  z-index: -1;
  position: absolute;
  top: -14vw;
  right: 0;
  font-style: normal;
  letter-spacing: -2px;
}

#work .web .work-item .text .em1 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgba(208, 0, 0, 0.1);
}

#work .web .work-item .text .em2 {
  left: -2vw;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgba(249, 202, 93, 0.4);
}

#work .web .work-item .text .em3 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(165, 195, 175, 0.3);
}

#work .web .work-item .text .em4 {
  left: -2vw;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgba(161, 184, 207, 0.3);
}

#work .web .work-item .text .em5 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(180, 163, 211, 0.3);
}

#work .web .work-item .text .em6 {
  left: -2vw;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(172, 172, 172, 0.3);
}

#work .web .work-item .text p {
  font-family: "YUniverse";
  font-size: 1.3vw;
  text-align: justify;
  line-height: 1.6;
  letter-spacing: -0.5px;
  position: relative;
  margin-top: 1.5vw;
}

/* web btn */
.btn span {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(28, 31, 30);
  transition: 0.2s 0.1s;
}

.btn span:hover {
  color: rgb(28, 31, 30);
  transition: 0.2s 0.1s;
}

.btn.hover-filled-slide-right::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.btn.hover-filled-slide-right:hover::before {
  position: absolute;
  content: "";
  width: 0%;
}

.btn-1 span {
  color: #000;
  border: 1px solid rgb(28, 31, 30);
  transition: 0.2s 0.1s;
}

#work .web .work-item .btn span {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  font-family: "Abel";
  font-size: 1.2vw;
  text-transform: uppercase;
  padding: 0.9vw 2.5vw;
  transition: 0.3s;
}

#work .web .work-item .btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

#work .web .work-item .btn1::before {
  background-color: #eeb1b1;
  transition: 0.3s ease-out;
}

#work .web .work-item .btn2::before {
  background-color: #fcca56;
  transition: 0.3s ease-out;
}

#work .web .work-item .btn3::before {
  background-color: #99c6a8;
  transition: 0.3s ease-out;
}

#work .web .work-item .btn4::before {
  background-color: #99afc6;
  transition: 0.3s ease-out;
}

#work .web .work-item .btn5::before {
  background-color: #bfb0dc;
  transition: 0.3s ease-out;
}

#work .web .work-item .btn6::before {
  background-color: #c4c4c4;
  transition: 0.3s ease-out;
}

#work .web .work-item i {
  line-height: 50px;
  font-size: 18px;
  padding-left: 22px;
}

/* work - script */
#work .script .title {
  width: 780px;
  height: 213px;
  margin: 0 auto;
  position: relative;
  font-family: "original_regular";
  margin-bottom: 30vh;
}

#work .script .title > span {
  position: absolute;
  left: 49px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.1vw rgba(0, 0, 0, 1);
  font-size: 130px;
}

#work .script .title em {
  position: absolute;
  top: 112px;
  right: 65px;
  color: #000;
  font-size: 120px;
  text-shadow: 2px 3px 0 #fff;
  /* font-style: normal; */
}

#work .script .title span:nth-of-type(2) {
  position: absolute;
  left: 48%;
  top: -20%;
}

#work .script .title span:nth-of-type(3) {
  width: 150px;
  position: absolute;
  left: 669px;
  top: 177px;
}

#work .script .contents {
  position: relative;
  padding: 0 3vw;
  display: flex;
  flex-wrap: wrap;
}

#work .script .box {
  position: relative;
  display: flex;
  flex: 0 0 530px;
  width: 230px;
  height: 1160px;
  margin: 0 auto;
  margin-bottom: 150px;
}

#work .script .box .text {
  width: 100%;
  height: 200px;
}
#work .script .box .text h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "original_regular";
  font-size: 74px;
  color: #d80913;
  /* -webkit-text-stroke: 0.1px rgba(0, 0, 0, 1); */
  text-shadow: 2px 3px 0 #000;
}

#work .script .box .text p {
  width: 85%;
  font-family: "YUniverse";
  font-size: 17px;
  line-height: 1.7;
  letter-spacing: -1px;
  text-align: justify;
  margin: 40px auto 0 auto;
}

#work .script .contents .box .top-box {
  width: 497px;
  height: 751px;
  position: absolute;
  top: 373px;
  z-index: 2;
  border: 0.2rem solid #000;
  border-radius: 29px;
  background-color: #f9e8e2;
}

#work .script .box .top-box .img-box {
  margin-top: 68px !important;
  width: 85%;
  height: 500px;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 209px 209px 0 0;
}

#work .script .contents .box .top-box .i1 {
  background: url("../src/img/musicplayer.png") no-repeat top center / cover;
}

#work .script .contents .box .top-box .i2 {
  background: url("../src/img/puzzlegame.png") no-repeat top center / cover;
}

#work .script .contents .box .top-box .i3 {
  background: url("../src/img/cardgame.png") no-repeat top center / cover;
}

#work .script .contents .box .top-box .i4 {
  background: url("../src/img/typing.png") no-repeat top center / cover;
}

#work .script .contents .box .top-box .i5 {
  background: url("../src/img/tetris.png") no-repeat top center / cover;
}

#work .script .contents .box .top-box .i6 {
  background: url("../src/img/typingmaster.png") no-repeat top center / cover;
}

#work .script .box .top-box .musicplayer {
  width: 100%;
  height: 100%;
  border-radius: 32px 32px;
}

#work .script .contents .box .top-box img {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#work .script .contents .box .top-box .btn {
  display: flex;
  flex: 2;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 37px;
}

#work .script .contents .box .top-box .btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel";
  font-size: 1.3vw;
  padding: 1vw 2vw;
  width: 100%;
  color: #fff;
  background-color: #000;
  margin-top: 30px;
  margin-right: 7px;
  border-radius: 5px 5px;
  transition: all 0.3s ease-out;
}

#work .script .contents .box .top-box .btn a:last-of-type {
  margin-right: 0;
}

#work .script .contents .box .top-box a:hover {
  color: #000;
  background-color: #fff;
}

#work .script .contents .box .middle-box {
  position: absolute;
  right: 15px;
  bottom: 17px;
  z-index: 1;
  width: 485px;
  height: 735px;
  border: 0.2rem solid #000;
  border-radius: 29px;
  background-color: #fff;
}

#work .script .contents .box .bottom-box {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 485px;
  height: 706px;
  border: 0.2rem solid #000;
  border-radius: 29px;
  background-color: #fff;
  box-shadow: 7px 7px 0 0 #0d0d0d;
}

/* css animation */
#work .css-ani {
  position: relative;
}

#work .css-ani .contents {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10vh;
}
#work .css-ani .title {
  width: 780px;
  height: 213px;
  margin: 0 auto;
  position: relative;
  font-family: "original-regular";
  margin-bottom: 30vh;
}

#work .css-ani .title em {
  position: absolute;
  top: 112px;
  right: 65px;
  color: #000;
  font-size: 120px;
  text-shadow: 2px 3px 0 #fff;
  /* font-style: normal; */
}

#work .css-ani .title span:nth-of-type(1) {
  position: absolute;
  left: 49px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.1vw rgba(0, 0, 0, 1);
  font-size: 130px;
}

#work .css-ani .title span:nth-of-type(2) {
  width: 150px;
  position: absolute;
  left: -36px;
  top: -51px;
}

#work .css-ani .title span:nth-of-type(3) {
  width: 150px;
  position: absolute;
  left: 470px;
  top: 209px;
}

#work .css-ani .title span:nth-of-type(4) {
  width: 150px;
  position: absolute;
  right: -5%;
  top: 77px;
}

#work .css-ani .title span:nth-of-type(5) {
  width: 150px;
  position: absolute;
  right: -9%;
  top: 138px;
}

#work .css-ani .contents .box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  margin-bottom: 10vh;
}

#work .css-ani .contents .left {
  width: 50%;
  margin: 0 auto;
}

#work .css-ani .contents .left .img-box {
  position: relative;
  width: 38vh;
  height: 38vh;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s;
}

#work .css-ani .contents .left .img-box:hover {
  transform: scale(105%);
  transition: all 0.3s;
}

#work .css-ani .contents .left .img-box::after {
  display: block;
  content: "";
  width: 43vh;
  height: 43vh;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: -7%;
  left: -7%;
}

#work .css-ani .contents .left .csi1 {
  background: url("../src/img/planetani.png") no-repeat center center / cover;
  background-position-y: -12px;
}

#work .css-ani .contents .left .csi2 {
  background: url("../src/img/movingcube.png") no-repeat center center / cover;
  background-position-y: 1px;
  background-position-x: -36px;
}

#work .css-ani .contents .left .csi3 {
  background: url("../src/img/tailani.png") no-repeat center center / cover;
  background-position-y: -1px;
  background-position-x: -1px;
}

#work .css-ani .contents .left .csi4 {
  background: url("../src/img/waveani.png") no-repeat center center / cover;
}

#work .css-ani .contents .left img {
  position: absolute;
  left: 50%;
  top: 50%;
}

#work .css-ani .contents .right {
  width: 50%;
  line-height: 1.1;
}

#work .css-ani .contents .box:nth-child(3),
#work .css-ani .contents .box:nth-child(5) {
  flex-direction: row-reverse;
}

#work .css-ani .contents .box .right:nth-of-type(odd) h2 {
  text-align: right;
  border: 1px solid #000;
}

#work .css-ani .contents .right h2 {
  font-family: "original_regular";
  font-size: 62px;
  color: #d80913;
  /* -webkit-text-stroke: 0.1px rgba(0, 0, 0, 1); */
  text-shadow: 2px 3px 0 #000;
  margin-bottom: 30px !important;
  width: 331px;
  margin: 0 auto;
}

#work .css-ani .contents .right p {
  width: 59%;
  font-family: "YUniverse";
  font-size: 17px;
  line-height: 1.8;
  text-align: justify;
  letter-spacing: -1px;
  margin: 0 auto;
}

#work .css-ani .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 95%;
  background: #000;
}

/* footer */
#footer .container {
  position: relative;
  width: 100%;
  height: 90vh;
}

#footer .title {
  width: 100%;
  height: 150px;
  text-align: center;
  color: #b4b4b4;
  margin-bottom: 70px;
}

#footer .contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3vw;
}

#footer .blink:nth-of-type(1) {
  -webkit-animation: blink 0.45s ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#footer .blink:nth-of-type(2) {
  -webkit-animation: blink 0.55s ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#footer .blink:nth-of-type(3) {
  -webkit-animation: blink 0.62s ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#footer .contents span:nth-child(1) {
  position: absolute;
  top: -28%;
  right: 14%;
}

#footer .contents span:nth-child(2) {
  position: absolute;
  top: 34%;
  left: 31%;
}

#footer .contents span:nth-child(3) {
  position: absolute;
  top: 101%;
  right: 16%;
}

#footer .title > span {
  font-family: "original_regular";
  font-size: 120px;
  text-shadow: 2px 3px 0 #000;
}

#footer .left {
  width: 50%;
  padding-left: 10px;
  position: relative;
}

#footer .left h2 {
  font-family: "original_regular";
  font-size: 70px;
  text-align: center;
  line-height: 1.1;
  color: #d80913;
  text-shadow: 2px 3px 0 #fff;
}

#footer .left p > i {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 9px;
  margin-top: 19px;
  margin-right: 12px;
  color: rgb(163, 163, 163);
}

#footer .left p {
  font-size: 18px;
  font-weight: 700;
  font-family: "YUniverse";
  padding-left: 130px;
}

#footer svg {
  fill: #000;
}

#footer .sns {
  width: 350px;
  display: flex;
  justify-content: space-around;
  margin: 30px 110px;
}

#footer .sns .btn {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

#footer .sns .btn:hover {
  background-color: rgba(255, 251, 0, 0.2);
  transform: scale(106%);
  transition: all 0.3s;
}

#footer .sns .btn i {
  font-size: 27px;
  color: #000;
}

#footer .sns .btn:after {
  content: "";
  position: absolute;
  top: 6%;
  left: 6%;
  border-radius: 50%;
  border-top: 1px solid transparent;
  border-right: 1px solid rgb(95, 95, 95);
  border-bottom: 1px solid transparent;
  border-left: 1px solid rgb(95, 95, 95);
  width: 85%;
  height: 85%;
  transition: border 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    transform 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: rotate(45deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#footer .sns .btn:hover:after {
  border: 1px solid rgb(95, 95, 95);
  transform: rotate(135deg);
}

#footer .right {
  width: 50%;
  position: relative;
}

#footer .right form {
  padding: 5px;
}

#footer .right form input {
  border: none;
  outline: none;
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2%;
  padding: 1% 2vw;
  height: 3.5vw;
  font-size: 1.1vw;
  font-family: "YUniverse";
  font-weight: 900;
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #000;
}

#footer .right form .message textarea {
  border: none;
  outline: none;
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1vw 2vw;
  height: 215px;
  font-size: 1.1vw;
  font-family: "YUniverse";
  font-weight: 900;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #000;
}

#footer .right form .btn {
  display: inline-block;
  padding: 0.9vw 3vw;
  margin-left: 28px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #000;
  color: #fff;
  font-family: "YUniverse";
  font-weight: 900;
  cursor: pointer;
  transition: all 0.7s;
}

#footer .right form .btn:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.7s;
}

/* 미디어 쿼리 */
@media (max-width: 1100px) {
  #mainview .contents {
    padding: 0 2vw;
  }
  #mainview .left {
    width: 50%;
  }

  #mainview .left .text h2 {
    font-size: 100px;
  }
  #mainview .left .text h2::before {
    left: 280px;
    top: 50%;
    width: 200px;
  }

  #mainview .left .text strong {
    font-size: 65px;
  }

  #mainview .left p {
    width: 97%;
    font-size: 15px;
  }

  #mainview .contents .left div span {
    left: 38%;
  }

  #mainview .right {
    width: 50%;
  }

  #mainview .right .main_img {
    width: 38vh;
  }

  #mainview .contents .line {
    left: 74%;
  }

  #mainview .contents .scrolldown svg {
    height: 48%;
    top: 48vh;
    left: -16vh;
  }

  #mainview .contents .right .scrolldown span {
    height: 10%;
    right: 15%;
  }

  #mainview .contents span:nth-child(1) {
    left: 87%;
  }

  #mainview .contents span:nth-of-type(2) {
    left: 92%;
    top: 28%;
  }
}

@media (max-width: 954px) {
  .container_h {
    width: 90%;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }

  #header .contents {
    display: block;
  }

  #header .contents h1 {
    float: initial;
    text-align: center;
  }
  #header .nav ul {
    display: none;
  }

  #mainview .contents {
    flex-direction: column-reverse;
    top: 60px;
  }

  #mainview .left {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 800px;
  }

  #mainview .left .text h2::before {
    display: none;
  }

  #mainview .left .text h2 {
    font-size: 21vw;
  }

  #mainview .left .text strong {
    font-size: 8vw;
  }

  #mainview .left .text p {
    width: 60%;
    font-size: 2.9vw;
    margin: 0 auto;
    margin-top: 3vw;
    margin-bottom: 23vw;
  }

  #mainview .right {
    position: fixed;
    top: 50px;
    width: 80%;
    height: 700px;
  }

  #mainview .right .main_img {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    border-radius: 50vw 50vw 0 0;
  }

  #mainview .line {
    width: 0.2rem;
    height: 50vh;
    background: #000;
    left: 50% !important;
    top: 0;
  }

  #mainview .left a {
    position: relative;
    width: 62%;
    height: 5.5vw;
    display: block;
    color: #fff;
    background-color: #000;
    padding: 0 2vw;
    line-height: 5.5vw;
    font-size: 2vw;
    font-family: "abel";
    box-sizing: border-box;
    margin: 0 auto;
  }

  #mainview .contents .left div span {
    top: -650px;
    left: 6%;
    z-index: 1;
  }

  #mainview .contents span:nth-child(1) {
    top: 10%;
    left: 82%;
    z-index: 1;
  }

  #mainview .contents span:nth-child(2) {
    top: 20%;
    left: 89%;
    z-index: 1;
  }

  #mainview .contents .scrolldown svg {
    display: none;
  }

  #mainview .contents .scrolldown span {
    display: none;
  }

  #about_marquee {
    width: 100%;
    top: 100vw;
    height: 14vw;
  }

  #about_marquee .content > p {
    font-size: 9vw;
    line-height: 13.6vw;
  }

  /* #profile,
  #work,
  #work_marquee,
  #contact {
  } */
}
