* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background-color: #00104d;
  height: 100vh;
  overflow: hidden;
}
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.game-text {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 50px;
}
.game-text > button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: salmon;
  border: none;
  cursor: pointer;
}

.title {
  color: #ffffff;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 1vw;
  font-size: 40px;
  /* margin-top: 5vw; */
}
.field {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.info {
  display: flex;
  flex-direction: column;
  margin-right: 2.5px;
}

.start-button {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  padding: 15px 10px;
  background-color: #000000;
  border: 3px groove #ffffff;
  border-radius: 7.5px;
  margin-bottom: 2.5px;
}

.score-wrapper {
  background-color: #000000;
  border: 3px groove #ffffff;
  border-radius: 7.5px;
  padding: 15px 10px;
}
.score_tit {
  /* position: absolute;
  top: 9.5vw;
  left: 5%; */
  font-size: 20px;
  color: #ffffff;
  /* font-family: "Keania One", cursive; */
  font-family: "Press Start 2P", cursive;
  padding-bottom: 15px;
}
.score {
  /* position: absolute;
  top: 9.5vw;
  left: 13%; */
  font-size: 40px;
  color: rgb(255, 216, 97);
  /* font-family: "Keania One", cursive; */
  font-family: "Press Start 2P", cursive;
}

.playground {
  /* margin-bottom: 50px; */

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 320px;
  height: 510px;
  border: 7px double #ffffff;
  border-radius: 5px;
}

.playground > ul {
  /* border: 1px solid #333;
  width: 500px;
  margin: 0 auto; */

  width: 315px;
  margin: 0 auto;
}

.playground > ul > li {
  width: 100%;
  height: 25px;
}

.playground > ul > li > ul {
  display: flex;
}

.playground > ul > li > ul > li {
  width: 25px;
  height: 25px;
  outline: 0.5px solid #000000;
}

/* .playground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 53, 104);
    width: 320px;
    height: 540px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.playground>ul {
    width: 275px;
    margin: 0 auto;
}

.playground>ul>li {
    width: 100%;
    height: 20px;
    background-color: rgb(9, 17, 26);
}

.playground>ul>li>ul {
    display: flex;
}

.playground>ul>li>ul>li {
    width: 20px;
    height: 20px;
} */

.square {
  background: #7fdd50;
  outline: 0.5px solid #ffffff;
}
.bar {
  background: #ff8649;
  outline: 0.5px solid #ffffff;
}
.tree {
  background: #e33821;
  outline: 0.5px solid #ffffff;
}
.zee {
  background: #ffe432;
  outline: 0.5px solid #ffffff;
}
.elLeft {
  background: #5882ec;
  outline: 0.5px solid #ffffff;
}
.elRight {
  background: #a83ee6;
  outline: 0.5px solid #ffffff;
}

@media (max-width: 580px) {
  .imag {
    display: none;
  }

  .field {
    flex-direction: column;
  }

  .name {
    font-size: 20px;
  }

  .about {
    font-size: 10px;
  }
  .score {
    font-size: 20px;
  }
  .score-text {
    margin-bottom: 5px;
  }
  .help {
    display: none;
  }

  .score-wrapper {
    padding: 5px 0;
    border-radius: 5px;
  }

  .about-name {
    display: none;
  }
}
